h1 {
    font-family: 'Lato', sans-serif;
}
img {
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
    } 

.allaboutme:hover{
    filter: grayscale(1);
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
    filter: grayscale(1);
    transition: background-size 0.3s ease; 
}
 body {
    background-color:#ffaf49;
    font-family: 'Roboto Slab', serif;
    
  }